<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<title>Info</title>
	</head>
	<body>
		<h1 class="text-center m-5">Informacion del sistema</h1>

		<table class="container table table-dark table-striped mt-5 p-5">
			<thead>
				<tr>
					<th scope="col">Datos</th>
					<th scope="col">Informacion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Argumento de entrada</td>
					<td><%= info.inputArguments %></td>
				</tr>
				<tr>
					<td>Nombre de la plataforma (sistema operativo)</td>
					<td><%= info.platform %></td>
				</tr>
				<tr>
					<td>Versión de node.js</td>
					<td><%= info.nodeVersion %></td>
				</tr>
				<tr>
					<td>Memoria total reservada (rss)</td>
					<td><%= info.memoryUsageRSS %></td>
				</tr>
				<tr>
					<td>Path de ejecución</td>
					<td><%= info.path %></td>
				</tr>
				<tr>
					<td>Process id</td>
					<td><%= info.processId %></td>
				</tr>
				<tr>
					<td>Carpeta del proyecto</td>
					<td><%= info.currentWorkDirectory %></td>
				</tr>
				<tr>
					<td>Nro de procesadores en el servidor</td>
					<td><%= info.CPUs %></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
